# QLogic VNIC configuration file
#
# This file documents and describes the use of the
# VNIC configuration file qlogic_vnic.cfg. This file
# should reside in /etc/infiniband/ql_vnic.cfg
#
# 
# Knowing how to fill the configuration file
###############################################
#
# For filling the configuration file you need to know
# some information about your VEx device. This information
# can be obtained with the help of the ibvexdm tool.
# ibvexdm -e will give IOCGUID information about the VEx IOCs
# whereas ibvexdm -s will give IOCSTRING information.
# Refer to QLogic_VNIC.README available as part of the documentation
# for more information about the ibvexdm tool.
#
#
# General structure of the configuration file
###############################################
#
# All lines beginning with a # are treated as comments.
#
# A simple configuration file consists of CREATE commands
# for each VNIC interface to be created. 
#
# A simple CREATE command looks like this:
#
#  {CREATE; NAME="eioc1"; IOCGUID=0x66A013000010C;
#     RX_CSUM=TRUE;
#     HEARTBEAT=100; }
#
#Where 
#
#NAME - The device name for the interface
#
#IOCGUID - The GUID of the IOC to use.  All of the IOC GUIDS detected on
#      the fabric can be found with "ibvexdm -e". This can be used instead
#      of IOCSTRING.  It can not be used at the same time as IOCSTRING.
#
#IOCSTRING - The IOC Profile ID String of the IOC to use.  All of the IOC
#      Profile ID Strings detected on the fabric can be found with
#      "ibvexdm -s". This can be used instead of IOCGUID.
#      It can not be used at the same time as IOCGUID.
#
#INSTANCE - Defaults to 0.  Range 0-255.  If a host will connect to the
#	same IOC more than once, each connection must be assigned a unique
#       number.  
#
#RX_CSUM - defaults to TRUE.  When true, indicates that the receive checksum
#	    should be done by the VEx
#
#HEARTBEAT - defaults to 100.  Specifies the time in 1/100'ths of a second
#	    between heartbeats
#
#PORT - Specification for local HCA port. First port is 1.
#
#HCA - Optional HCA specification for use with PORT specification. First HCA is 1.
#
# Example of IOCGUID based configuration:
#
#  {CREATE; NAME="eioc1"; IOCGUID=0x66A013000010C;
#     RX_CSUM=TRUE;
#     HEARTBEAT=100; }
#
# Example of IOCSTRING based configuration:
#
#  {CREATE; NAME="eioc1"; IOCSTRING="Chassis 0x00066A0050000018, Slot 2, IOC 1";
#     RX_CSUM=TRUE;
#     HEARTBEAT=100; }
#
#
#Failover configuration:
#########################
#
# It is possible to create a VNIC interface with failover configuration
# by using the PRIMARY and SECONDARY commands. The IOC specified in
# the PRIMARY command will be used as the primary IOC for this interface
# and the IOC specified in the SECONDARY command will be used as the
# fail-over backup in case the connection with the primary IOC fails
# for some reason.
#
# PRIMARY and SECONDARY commands are written in the following way:
#
# PRIMARY={IOCGUID=...; INSTANCE=... } - IOCGUID may be substituted with 
#   IOCSTRING.  IOCGUID, IOCSTRING, and INSTANCE must be values that are
#	unique to the primary interface
#
#  SECONDARY={IOCGUID=...; INSTANCE=... } - bring up a secondary connection for
#	fail-over.  IOCGUID may be substituted with IOCSTRING.  IOCGUID, IOCSTRING,
#   and INSTANCE values to be used for the secondary connection
#
#
#Example failover configuration:
#
#  {CREATE; NAME="eioc2";
#   PRIMARY = {IOCGUID=0x66A0130000105; INSTANCE=0; PORT=1; }
#   SECONDARY = {IOCGUID=0x66A013000010C; INSTANCE=0; PORT=2; }
#  }
#

